* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header, footer, main {
    padding: 1vw 5vw;
    width: 100%;
    border: 4px solid orange;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hotpink;
}

footer {
    background-color: orchid;
}

#square {
    height: 500px;
    width: 50vw;
    background-color: pink;
}

#hamburger-menu {
    position: absolute;
    top: 0;
    width: 80vw;
    height: 100vh;
    background-color: orange;
    padding: 3vw;
}

#hamburger-menu.on {
    left: 0;
    transition: all 0.5s ease;
}
#hamburger-menu.off {
    left: -80vw;
    transition: all 0.5s ease-in-out;
}


#hamburger-menu nav {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    width: 100%;
    border: 1px solid hotpink;
}

#hamburger-menu nav a:hover {
    color: white;
}
